{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'new/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'new/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom CSS for centering -->
    <style>
        .card-center {
            max-width: 800px;
            margin: auto;
        }
        .form-control-user {
            font-size: 0.8rem;
            border-radius: 10rem;
            padding: 1.5rem 1rem;
        }
        .btn-user {
            font-size: 0.8rem;
            border-radius: 10rem;
            padding: 0.75rem 1rem;
        }
    </style>
</head>

<body class="bg-gradient-white">
     <!-- Sidebar -->
     {% include 'sidebar.html' %}
     <!-- End of Sidebar -->
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5 card-center">
            <div class="card-body p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tambah Pegawai Baru</h1>
                </div>
                <form class="user" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.name.label_tag }}
                            {{ employee_form.name|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6">
                            {{ employee_form.role.label_tag }}
                            {{ employee_form.role|add_class:"form-control form-control-user" }}
                        </div>
                    </div>
                    <!-- Form group for email and address -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.email.label_tag }}
                            {{ employee_form.email|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6">
                            {{ employee_form.address.label_tag }}
                            {{ employee_form.address|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <!-- Form group for username and satker -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.username.label_tag }}
                            {{ employee_form.username|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6">
                            {{ employee_form.satker.label_tag }}
                            {{ employee_form.satker|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <!-- Form group for password and jabatan -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.password.label_tag }}
                            {{ employee_form.password|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6">
                            {{ employee_form.confirm_password.label_tag }}
                            {{ employee_form.confirm_password|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.jabatan.label_tag }}
                            {{ employee_form.jabatan|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.birthday.label_tag }}
                            {{ employee_form.birthday|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <!-- Form group for birthday and nip -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            {{ employee_form.nip.label_tag }}
                            {{ employee_form.nip|add_class:"form-control form-control-user" }}
                        </div>
                        <div class="col-sm-6">
                            {{ employee_form.phone.label_tag }}
                            {{ employee_form.phone|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <!-- Form group for phone and photo upload -->
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ photo_form.photos.label_tag }}
                            {{ photo_form.photos|add_class:"form-control form-control-user" }}
                        </div>
                    </div>

                    <!-- Error messages -->
                    {% if employee_form.errors or photo_form.errors %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="alert alert-danger">
                                {% for field in employee_form %}
                                    {% for error in field.errors %}
                                        {{ field.label }}: {{ error }}<br>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in photo_form.photos.errors %}
                                    {{ photo_form.photos.label }}: {{ error }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <!-- Tombol Simpan dan Batal -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Simpan</button>
                        </div>
                        <div class="col-sm-6">
                            <a href="/" class="btn btn-danger btn-user btn-block">Batal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'new/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'new/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'new/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'new/js/sb-admin-2.min.js' %}"></script>
</body>
</html>
